apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - storageclass.yaml
  - pv.yaml
  - pvc.yaml
  - awx.yaml
  {% for file in template_files.files %}
- awx-operator/templates/{{ file.path | regex_replace('^.*/', '') }}
  {% endfor %}

generatorOptions:
  disableNameSuffixHash: true

namespace: awx
