apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - storageclass.yaml
  - pv.yaml
  - pvc.yaml
  - awx.yaml

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
{% if awx_use_cname %}
- name: awx-secret-tls
  type: kubernetes.io/tls
  files:
    - tls.crt
    - tls.key
{% endif %}

- name: awx-postgres-configuration
  type: Opaque
  literals:
    - host=awx-postgres-15
    - port=5432
    - database=awx
    - username=awx
    - password={{ awx_db_password }}
    - type=managed

- name: awx-admin-password
  type: Opaque
  literals:
  - password={{ awx_admin_password }}

namespace: {{ awx_namespace }}
